%html
  %head
    %title Andrew's Streaming Media Test
    %link{:href => '/stylesheet.css', :rel => 'Stylesheet', :type => 'text/css'}
  %body
    #container
      %p 
        This page is a test of 3 different streaming media technologies.
        The first technology is Apple's new HTTP Live Streaming, the second is the traditional RTP/RTSP (over HTTP) 
        and the last one is probably the most famous: Flash Media streaming as done on YouTube.com.
        Please use a html5 capable browser (Safari 3.1, Chrome 3.0, Firefox 3.5) as this site uses the new 
        %span.pre &lt;video&gt; 
        tag often.
      #menu
        %ul
          %li= link_to("HTTP Live Streaming (Apple)","http_live_apple")
          %li= link_to("HTTP Live Streaming (OSS)","http_live_oss")
          %li= link_to("RTP/RTSP","rtp_rstp")
          %li= link_to("Adobe Flash Streaming","flash")
      = yield
    #footer
      This app is available as open source
      %a{:href => "http://github.com/andruby/StreamingMedia-Test"} on github
    